   <section ng-controller="HomeViewController">

    <div class="callout small">
      <div class="row column text-center">
        <h1 class="home-tittle">{{appTittle}}</h1>
        <p class="lead">{{appSubTittle}}</p>
        <a href="#/perfiles/IPE" id="button-home" class="button large">Catálogo de perfiles</a>
        <a href="#/calculo" id="button-home" class="button large hollow btn-white">Haz tus propios cálculos</a>
      </div>
    </div>
    <br> 
    <br>

    <div class="row">
      <div class="medium-6 columns medium-push-6">
        <img class="thumbnail" src="img/beams.jpg">
      </div>
      <div class="medium-6 columns medium-pull-6">
        <h2><strong>Perfiles de Acero Laminado</strong></h2>
        <p>El acero que sale del alto horno de colada de la siderurgia es convertido en acero bruto fundido en lingotes de gran peso y tamaño que posteriormente hay que laminar para poder convertir el acero en los múltiples tipos de perfiles comerciales que existen de acuerdo al uso que vaya a darse del mismo.
        </p>
        <p>El tipo de perfil de las vigas de acero, y las cualidades que estas tengan, son determinantes a la elección para su aplicación y uso en la ingeniería y arquitectura. Entre sus propiedades están su forma o perfil, su peso, particularidades y composición química del material con que fueron hechas, y su longitud.
        </p>
        <p>En España, todas las dimensiones de las secciones transversales de los perfiles están normalizados de acuerdo con Código Técnico de la Edificación.
        </p>
      </div>
    </div>
    <br>

    <div class="callout large" style="text-align:justify">
      <div class="row">
        <div class="medium-4 columns">
          <h3>Normativa</h3>
          <p>La Instrucción de Acero Estructural (EAE) establece los requisitos a cumplir por las estructuras ejecutadas en acero, relativos a seguridad estructural, contra incendio y al medio ambiente.
            <a href="https://www.uclm.es/area/ing_rural/Acero/Textos/RD-751-2011-Instruccion-Acero-Estructural-EAE-2011-Comentada.pdf" target="_blank"><div> Ver normativa </div></a></p>
          </div>
          <div class="medium-4 columns">
            <h3>Bibliografía</h3>
            <p>Existen diversas publicaciones sobre las estructuras metálicas que amplian conocimientos y resuelven problemas a diferentes niveles. Podemos encontrar aquí una breve reseña sobre ellas.<a href="http://caminos.udc.es/info/asignaturas/406/contenido_publico/bibliografia.php" target="_blank"><div> Ver bibliografía </div></a></p>
          </div>
          <div class="medium-4 columns">
            <h3>Empresas</h3>
            <p>Acceda al siguiente directorio empresarial de Fabricantes de Perfiles De Acero en España y filtrelos por provincia y localidad para encontrar a su fabricante más cercano.<a href="http://empresite.eleconomista.es/Actividad/FABRICANTES-DE-PERFILES-DE-ACERO/"  target="_blank"><div> Ver empresas </div></a></p>
          </div>
        </div>
        <br>

        <div class="row column">
          <ul class="vertical medium-horizontal menu expanded text-center">
            <li><a href="#"><div class="stat">10.000</div><span>Visitas diarias</span></a></li>
            <li><a href="http://www.inite.es/" target="_blank"><div class="stat">500</div><span>Ingenieros</span></a></li>
            <li><a href="https://www.cscae.com/index.php/es/" target="_blank"><div class="stat">120</div><span>Arquitectos</span></a></li>
            <li><a href="http://empresite.eleconomista.es/Actividad/FABRICANTES-DE-PERFILES-DE-ACERO/" target="_blank"><div class="stat">250</div><span>Empresas</span></a></li>
          </ul>
        </div>
      </div>
      <br>
      
    </section>
